nav{
    background-color: black;
}
ul{
    display: flex;
    gap:20px;
    width:30px;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* border: 5px solid rgb(233, 45, 24); */
    box-shadow: 6px 10px 6px;
}